@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body{
    
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monospace;
    font-size: 30px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}
#meter{
    position: relative;
}
#digi-meter{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    color: black;
    top: 65%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    text-align:center;
}
#digi-meter::before{
    content: attr(data-speed);
    display: block;
}

#circular-text{
    position: relative;
    color: #000;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    padding: 20px;
}

#circular-text span{
    position: absolute;
    display: block;
    transform-origin: top left;
}

#needle{
    background: url(./image/needle.png);
    height: 38%;
    width: 56px;
    position: absolute;
    top: 20%;
    left: calc(51% - 28px);
    transform-origin: center 80%;
    background-size: auto 100%;
    background-position: center;
}
input{
    display: none;
}
